:root {
  --primary: #6c63ff;
  --card: #2a2a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(120deg, #1e1e2f, #121212);
  color: white;
  line-height: 1.6;
}

header {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.7);
}

header h1 {
  color: var(--primary);
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: var(--primary);
}

section {
  padding: 80px 10%;
}

.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h2 {
  font-size: 3rem;
}

.hero span {
  color: var(--primary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: var(--card);
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

input, select, button, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}

button {
  background: var(--primary);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
}

.todo-item {
  background: #3b3b5e;
  margin-top: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.delete-btn {
  width: auto !important;       
  padding: 4px 10px;
  font-size: 0.75rem;
  background: #ff4d4d;
  color: white;
  border-radius: 6px;
  margin-left: auto;            
}

footer {
  text-align: center;
  padding: 30px;
  background: #0f0f1f;
}

@media (max-width: 768px) {
  .hero h2 { font-size: 2.2rem; }
  header { flex-direction: column; }
}
